.weather {
  @include main_cont;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 2px;
  background-color: aliceblue;
  color: #116466;
  padding: 5vh 10%;
  text-align: left;
  background-color: rgba($color: white, $alpha: 0.8);
  width: 80vw;
  min-height: 40vh;
  margin-top: 10vh;
  z-index: 1;
  & > div {
    height: 100%;
  }
}

.spin {
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border-top-color: lightgray;
  width: 2em;
  height: 2em;
  animation: spinner 1s ease-in-out infinite;
  -webkit-animation: spinner 1s ease-in-out infinite;
}

@media only screen and (max-width: 900px) {
  .weather {
    min-height: 60vh;
    animation: load 1s ease-in-out;
  }
}

@keyframes load {
  0% {
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
